.e53_315 { 
	overflow:hidden;
}
.e53_315 { 
	background: linear-gradient(322deg, rgba(242,102,233,1) 0%, rgba(51,90,131,1) 50%, rgba(63,163,180,1) 100%);
	width:1481px;
	height:1621px;
	position:absolute;
}
.e53_316 { 
	background-color:rgba(243.00000071525574, 102.00000151991844, 233.00000131130219, 1);
	width:151px;
	height:71px;
	position:absolute;
	left:1216px;
	top:468px;
}
.e53_317 { 
	color:rgba(0, 0, 0, 1);
	width:1478px;
	height:80px;
	position:absolute;
	left:30px;
	top:1643px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e53_318 { 
	background-color:rgba(0, 0, 0, 1);
	width:1356px;
	height:190px;
	position:absolute;
	left:62px;
	top:58px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_319 { 
	background-image:linear-gradient(0deg, rgba(15.000000055879354, 29.000000171363354, 63.000000044703484, 1) 0%,rgba(9.000000413507223, 8.000000473111868, 22.000000588595867, 1) 100%) ;
	width:1361px;
	height:1045px;
	position:absolute;
	left:62px;
	top:313px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_320 { 
	color:rgba(255, 255, 255, 1);
	width:288px;
	height:68px;
	position:absolute;
	left:228px;
	top:119px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e53_321 { 
	width:121px;
	height:159px;
	position:absolute;
	left:83px;
	top:74px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_322 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:42px;
	position:absolute;
	left:972px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
    text-decoration: none;
}
.e53_322:hover{
    color: aqua;
}
.e53_323 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:42px;
	position:absolute;
	left:581px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
    text-decoration: none;
}
.e53_323:hover{
    color: aqua;
}
.e53_324 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:42px;
	position:absolute;
	left:1194px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
    text-decoration: none;
}
.e53_324:hover{
    color: aqua;
}
.e53_325 { 
	color:rgba(255, 255, 255, 1);
	width:194px;
	height:31px;
	position:absolute;
	left:752px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
    text-decoration: none;
}
.e53_325:hover{
    color: aqua;
}
.e53_326 { 
	background-image:linear-gradient(0deg, rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 1) 0%,rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 0.6000000238418579) 57.715559005737305%,rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 0.822429895401001) 100%) ;
	width:1366px;
	height:94px;
	position:absolute;
	left:57px;
	top:1347px;
	border-radius:15px;
}
.e53_327 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:41px;
	position:absolute;
	left:1304px;
	top:1373px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e53_328 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:21px;
	position:absolute;
	left:1253px;
	top:1384px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e53_329 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:312px;
	height:981px;
	position:absolute;
	left:1089px;
	top:341px;
	border-radius:25px;
}
.e53_330 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:909px;
	height:88px;
	position:absolute;
	left:107px;
	top:341px;
	border-radius:20px;
}
.e53_331 { 
	color:rgba(15.000000055879354, 29.000000171363354, 63.000000044703484, 1);
	width:244px;
	height:54px;
	position:absolute;
	left:1123px;
	top:350px;
	font-family:Jockey One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e53_332 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1116px;
	top:549px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_333 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1216px;
	top:553px;
	border-radius:100px;
}
.e53_334 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:76px;
	position:absolute;
	left:1229px;
	top:559px;
	font-family:Jockey One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e53_335 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1116px;
	top:648px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_336 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1216px;
	top:653px;
	border-radius:100px;
}
.e53_337 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1229px;
	top:661px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_338 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1116px;
	top:752px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_339 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1216px;
	top:757px;
	border-radius:100px;
}
.e53_340 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1229px;
	top:765px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_341 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1116px;
	top:852px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_342 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1216px;
	top:857px;
	border-radius:100px;
}
.e53_343 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1229px;
	top:865px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_347 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1116px;
	top:948px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_348 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1216px;
	top:953px;
	border-radius:100px;
}
.e53_349 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1229px;
	top:961px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_350 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1116px;
	top:1043px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_351 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1216px;
	top:1048px;
	border-radius:100px;
}
.e53_352 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:33px;
	position:absolute;
	left:1229px;
	top:1068px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_353 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1113px;
	top:1133px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_354 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1213px;
	top:1138px;
	border-radius:100px;
}
.e53_355 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1226px;
	top:1146px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_356 { 
	color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:665px;
	height:54px;
	position:absolute;
	left:107px;
	top:351px;
	font-family:Jockey One;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}
.e53_357 { 
	background-color:rgba(255, 255, 255, 1);
	width:945px;
	height:860px;
	position:absolute;
	left:107px;
	top:462px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_358 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(99.2798338830471, 117.45334669947624, 181.88672482967377, 1);
	width:180px;
	height:84px;
	position:absolute;
	left:161px;
	top:1201px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e53_359 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:29px;
	position:absolute;
	left:199px;
	top:1228px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e53_360 { 
	background-image:linear-gradient(0deg, rgba(60.34365378320217, 54.293751418590546, 77.56250202655792, 1) 2.083333395421505%,rgba(48.611498326063156, 44.41249944269657, 60.56249924004078, 0.5299999713897705) 48.4375%,rgba(73.34144532680511, 66.6320313513279, 92.43750303983688, 1) 100%) ;
	width:378.00079345703125px;
	height:124.5px;
	position:absolute;
	left:551px;
	top:1441px;
	border-radius:40px;
}
.e53_363 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:73px;
	position:absolute;
	left:805px;
	top:486px;
	border-radius:30px;
}
.e53_365 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:66px;
	position:absolute;
	left:816px;
	top:487px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_366 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1116px;
	top:458px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_367 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:164px;
	height:71px;
	position:absolute;
	left:1216px;
	top:458px;
	border-radius:100px;
}
.e53_368 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:71px;
	position:absolute;
	left:1232px;
	top:462px;
	font-family:Jockey One;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e53_369 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:621px;
	height:297px;
	position:absolute;
	left:149px;
	top:580px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_370 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:802px;
	top:648px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_371 { 
	color:rgba(0, 0, 0, 1);
	width:548px;
	height:272px;
	position:absolute;
	left:175px;
	top:591px;
	font-family:Jockey One;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e53_372 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:843px;
	top:664px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_374 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:849px;
	top:814px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_375 { 
	width:181px;
	height:65px;
	position:absolute;
	left:822px;
	top:579px;
	background-image:url(images/image_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_379 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:73px;
	position:absolute;
	left:805px;
	top:914px;
	border-radius:30px;
}
.e53_380 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:621px;
	height:302px;
	position:absolute;
	left:152px;
	top:999px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_381 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:805px;
	top:1076px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_382 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:66px;
	position:absolute;
	left:816px;
	top:915px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_383 { 
	color:rgba(0, 0, 0, 1);
	width:581px;
	height:273px;
	position:absolute;
	left:178px;
	top:1010px;
	font-family:Jockey One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e53_384 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:839px;
	top:1088px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_385 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:812px;
	top:1233px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_387 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:846px;
	top:1248px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_388 { 
	width:181px;
	height:65px;
	position:absolute;
	left:828px;
	top:1010px;
	background-image:url(images/image_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_389 { 
	width:102px;
	height:63px;
	position:absolute;
	left:867px;
	top:1167px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e64_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:152px;
	top:486px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e64_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:252px;
	top:491px;
	border-radius:100px;
}
.e64_20 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:33px;
	position:absolute;
	left:265px;
	top:511px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e64_29 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:837px;
	top:809px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e64_30 { 
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:33px;
	position:absolute;
	left:789px;
	top:855px;
	font-family:Jockey One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e64_31 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:33px;
	position:absolute;
	left:932px;
	top:855px;
	font-family:Jockey One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e64_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:113px;
	height:52px;
	position:absolute;
	left:932px;
	top:803px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e64_33 { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:36px;
	position:absolute;
	left:941px;
	top:812px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e64_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:113px;
	height:52px;
	position:absolute;
	left:787px;
	top:803px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e64_35 { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:36px;
	position:absolute;
	left:796px;
	top:809px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e64_36 { 
	width:102px;
	height:63px;
	position:absolute;
	left:861px;
	top:735px;
	background-image:url(images/image_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e64_38 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:161px;
	top:898px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e64_39 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:261px;
	top:903px;
	border-radius:100px;
}
.e64_40 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:274px;
	top:911px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
