.e39_4 { 
	overflow:hidden;
}
.e39_4 { 
	background: linear-gradient(322deg, rgba(242,102,233,1) 0%, rgba(51,90,131,1) 50%, rgba(63,163,180,1) 100%);
	width:1481px;
	height:1621px;
	position:absolute;
}
.e39_5 { 
	background-color:rgba(243.00000071525574, 102.00000151991844, 233.00000131130219, 1);
	width:151px;
	height:71px;
	position:absolute;
	left:1213px;
	top:480px;
}
.e39_6 { 
	color:rgba(0, 0, 0, 1);
	width:1478px;
	height:80px;
	position:absolute;
	left:30px;
	top:1643px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e39_7 { 
	background-color:rgba(0, 0, 0, 1);
	width:1356px;
	height:190px;
	position:absolute;
	left:62px;
	top:58px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e39_8 { 
	background-image:linear-gradient(0deg, rgba(15.000000055879354, 29.000000171363354, 63.000000044703484, 1) 0%,rgba(9.000000413507223, 8.000000473111868, 22.000000588595867, 1) 100%) ;
	width:1361px;
	height:1045px;
	position:absolute;
	left:62px;
	top:313px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e39_9 { 
	color:rgba(255, 255, 255, 1);
	width:288px;
	height:68px;
	position:absolute;
	left:228px;
	top:119px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e39_10 { 
	width:121px;
	height:159px;
	position:absolute;
	left:83px;
	top:74px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	background-image:url(images/image_3.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_15 { 
	background-image:linear-gradient(0deg, rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 1) 0%,rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 0.6000000238418579) 57.715559005737305%,rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 0.822429895401001) 100%) ;
	width:1366px;
	height:94px;
	position:absolute;
	left:57px;
	top:1347px;
	border-radius:15px;
}
.e39_16 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:41px;
	position:absolute;
	left:1304px;
	top:1373px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e39_17 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:21px;
	position:absolute;
	left:1253px;
	top:1384px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e39_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:312px;
	height:981px;
	position:absolute;
	left:1089px;
	top:341px;
	border-radius:25px;
}
.e39_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:945px;
	height:89px;
	position:absolute;
	left:107px;
	top:341px;
	border-radius:20px;
}
.e39_20 { 
	color:rgba(15.000000055879354, 29.000000171363354, 63.000000044703484, 1);
	width:244px;
	height:54px;
	position:absolute;
	left:1123px;
	top:350px;
	font-family:Jockey One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e39_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1113px;
	top:561px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_24 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1213px;
	top:565px;
	border-radius:100px;
}
.e39_26 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:76px;
	position:absolute;
	left:1226px;
	top:571px;
	font-family:Jockey One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e39_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1113px;
	top:660px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1213px;
	top:665px;
	border-radius:100px;
}
.e39_29 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1226px;
	top:673px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e39_30 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1113px;
	top:764px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_31 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1213px;
	top:769px;
	border-radius:100px;
}
.e39_32 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1226px;
	top:777px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e39_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1113px;
	top:864px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1213px;
	top:869px;
	border-radius:100px;
}
.e39_35 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1226px;
	top:877px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e39_39 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1113px;
	top:965px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_40 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1213px;
	top:970px;
	border-radius:100px;
}
.e39_41 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1226px;
	top:978px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e39_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1113px;
	top:1060px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_43 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1213px;
	top:1065px;
	border-radius:100px;
}
.e39_44 { 
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:38px;
	position:absolute;
	left:1226px;
	top:1086px;
	font-family:Jockey One;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e39_45 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1110px;
	top:1150px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1210px;
	top:1155px;
	border-radius:100px;
}
.e39_47 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1223px;
	top:1163px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e39_48 { 
	color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:665px;
	height:54px;
	position:absolute;
	left:107px;
	top:351px;
	font-family:Jockey One;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}
.e39_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:945px;
	height:860px;
	position:absolute;
	left:107px;
	top:462px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e39_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(99.2798338830471, 117.45334669947624, 181.88672482967377, 1);
	width:180px;
	height:84px;
	position:absolute;
	left:161px;
	top:1201px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e39_53 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:29px;
	position:absolute;
	left:199px;
	top:1228px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e39_104 { 
	background-image:linear-gradient(0deg, rgba(60.34365378320217, 54.293751418590546, 77.56250202655792, 1) 2.083333395421505%,rgba(48.611498326063156, 44.41249944269657, 60.56249924004078, 0.5299999713897705) 48.4375%,rgba(73.34144532680511, 66.6320313513279, 92.43750303983688, 1) 100%) ;
	width:378.00079345703125px;
	height:124.5px;
	position:absolute;
	left:551px;
	top:1441px;
	border-radius:40px;
}
.e39_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:142px;
	top:485px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e39_22 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:164px;
	height:71px;
	position:absolute;
	left:231px;
	top:491px;
	border-radius:100px;
}
.e50_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(9.187792036682367, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:73px;
	position:absolute;
	left:802px;
	top:495px;
	border-radius:20px;
}
.e39_25 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:71px;
	position:absolute;
	left:243px;
	top:491px;
	font-family:Jockey One;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e50_6 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:66px;
	position:absolute;
	left:813px;
	top:496px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e50_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1115px;
	top:462px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_13_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e50_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:164px;
	height:71px;
	position:absolute;
	left:1213px;
	top:470px;
	border-radius:100px;
}
.e50_4 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:71px;
	position:absolute;
	left:1229px;
	top:474px;
	font-family:Jockey One;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e43_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:621px;
	height:297px;
	position:absolute;
	left:149px;
	top:580px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e50_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:802px;
	top:657px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e43_48 { 
	color:rgba(0, 0, 0, 1);
	width:548px;
	height:270px;
	position:absolute;
	left:175px;
	top:591px;
	font-family:Jockey One;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e50_8 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:843px;
	top:673px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e51_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:809px;
	top:814px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e51_11 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:843px;
	top:829px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e51_13 { 
	width:181px;
	height:65px;
	position:absolute;
	left:825px;
	top:591px;
	background-image:url(images/image_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e52_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:149px;
	top:906px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e52_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:243px;
	top:912px;
	border-radius:100px;
}
.e52_35 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:76px;
	position:absolute;
	left:256px;
	top:918px;
	font-family:Jockey One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e52_22 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(9.187792036682367, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:73px;
	position:absolute;
	left:805px;
	top:914px;
	border-radius:20px;
}
.e52_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:621px;
	height:302px;
	position:absolute;
	left:152px;
	top:999px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:805px;
	top:1076px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_24 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:66px;
	position:absolute;
	left:816px;
	top:915px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e52_27 { 
	color:rgba(0, 0, 0, 1);
	width:581px;
	height:286px;
	position:absolute;
	left:178px;
	top:1010px;
	font-family:Jockey One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e52_28 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:846px;
	top:1086px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e52_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:812px;
	top:1233px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e51_19 { 
	width:102px;
	height:63px;
	position:absolute;
	left:864px;
	top:748px;
	background-image:url(images/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e52_30 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:861px;
	top:1253px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e52_31 { 
	width:181px;
	height:65px;
	position:absolute;
	left:828px;
	top:1010px;
	background-image:url(images/image_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e52_32 { 
	width:102px;
	height:63px;
	position:absolute;
	left:867px;
	top:1167px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e81_64 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:42px;
	position:absolute;
	left:1015px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_64:hover{
	color: aqua;
}
.e81_65 { 
	color:rgba(255, 255, 255, 1);
	width:152px;
	height:57px;
	position:absolute;
	left:631px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_65:hover{
	color: aqua;
}
.e81_66 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:42px;
	position:absolute;
	left:1237px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_66:hover{
	color: aqua;
}
.e81_67 { 
	color:rgba(255, 255, 255, 1);
	width:194px;
	height:31px;
	position:absolute;
	left:789px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_67:hover{
	color: aqua;
}
.contactButton {
	position:absolute;
	left:1170px;
	top:1250px;
	background: #7079f0;
	color: white;
	font-family: inherit;
	padding: 0.45em;
	padding-left: 1.0em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #714da6;
	overflow: hidden;
	height: 2.8em;
	padding-right: 3em;
	text-decoration: none;
  }
  
  .iconButton {
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
	right: 0.3em;
	transition: all 0.3s;
  }
  
  .contactButton:hover {
	transform: translate(-0.05em, -0.05em);
	box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .contactButton:active {
	transform: translate(0.05em, 0.05em);
	box-shadow: 0.05em 0.05em #5566c2;
  }