.e53_165 { 
	overflow:hidden;
}
.e53_165 { 
	background: linear-gradient(322deg, rgba(242,102,233,1) 0%, rgba(51,90,131,1) 50%, rgba(63,163,180,1) 100%);
	width:1481px;
	height:1621px;
	position:absolute;
}
.e53_166 { 
	background-color:rgba(243.00000071525574, 102.00000151991844, 233.00000131130219, 1);
	width:151px;
	height:71px;
	position:absolute;
	left:1208px;
	top:478px;
}
.e53_167 { 
	color:rgba(0, 0, 0, 1);
	width:1478px;
	height:80px;
	position:absolute;
	left:30px;
	top:1643px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e53_168 { 
	background-color:rgba(0, 0, 0, 1);
	width:1356px;
	height:190px;
	position:absolute;
	left:62px;
	top:58px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_169 { 
	background-image:linear-gradient(0deg, rgba(15.000000055879354, 29.000000171363354, 63.000000044703484, 1) 0%,rgba(9.000000413507223, 8.000000473111868, 22.000000588595867, 1) 100%) ;
	width:1361px;
	height:1045px;
	position:absolute;
	left:62px;
	top:313px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_170 { 
	color:rgba(255, 255, 255, 1);
	width:288px;
	height:68px;
	position:absolute;
	left:228px;
	top:119px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e53_171 { 
	width:121px;
	height:159px;
	position:absolute;
	left:83px;
	top:74px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	background-image:url(images/image_3.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_176 { 
	background-image:linear-gradient(0deg, rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 1) 0%,rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 0.6000000238418579) 57.715559005737305%,rgba(75.14773160219193, 75.14773160219193, 75.14773160219193, 0.822429895401001) 100%) ;
	width:1366px;
	height:94px;
	position:absolute;
	left:57px;
	top:1347px;
	border-radius:15px;
}
.e53_177 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:41px;
	position:absolute;
	left:1304px;
	top:1373px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e53_178 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:21px;
	position:absolute;
	left:1253px;
	top:1384px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e53_179 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:312px;
	height:981px;
	position:absolute;
	left:1089px;
	top:341px;
	border-radius:25px;
}
.e53_180 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:945px;
	height:98px;
	position:absolute;
	left:107px;
	top:341px;
	border-radius:20px;
}
.e53_181 { 
	color:rgba(15.000000055879354, 29.000000171363354, 63.000000044703484, 1);
	width:244px;
	height:54px;
	position:absolute;
	left:1123px;
	top:350px;
	font-family:Jockey One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e53_182 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1108px;
	top:559px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_183 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1208px;
	top:563px;
	border-radius:100px;
}
.e53_184 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:76px;
	position:absolute;
	left:1221px;
	top:569px;
	font-family:Jockey One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e53_185 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1108px;
	top:658px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_186 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1208px;
	top:663px;
	border-radius:100px;
}
.e53_187 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1221px;
	top:671px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_188 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1108px;
	top:762px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_189 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1208px;
	top:767px;
	border-radius:100px;
}
.e53_190 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1221px;
	top:775px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_191 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1108px;
	top:862px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_192 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1208px;
	top:867px;
	border-radius:100px;
}
.e53_193 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1221px;
	top:875px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_196 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1224px;
	top:977px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_197 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1105px;
	top:966px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_198 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1205px;
	top:971px;
	border-radius:100px;
}
.e53_199 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1218px;
	top:979px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_200 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1105px;
	top:1061px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_201 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1205px;
	top:1066px;
	border-radius:100px;
}
.e53_202 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:36px;
	position:absolute;
	left:1218px;
	top:1087px;
	font-family:Jockey One;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e53_203 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1108px;
	top:1151px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_204 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:1208px;
	top:1156px;
	border-radius:100px;
}
.e53_205 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:1221px;
	top:1164px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_206 { 
	color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:665px;
	height:54px;
	position:absolute;
	left:121px;
	top:357px;
	font-family:Jockey One;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}
.e53_207 { 
	background-color:rgba(255, 255, 255, 1);
	width:945px;
	height:860px;
	position:absolute;
	left:107px;
	top:462px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_208 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(99.2798338830471, 117.45334669947624, 181.88672482967377, 1);
	width:180px;
	height:84px;
	position:absolute;
	left:161px;
	top:1201px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e53_209 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:29px;
	position:absolute;
	left:199px;
	top:1228px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e53_210 { 
	background-image:linear-gradient(0deg, rgba(60.34365378320217, 54.293751418590546, 77.56250202655792, 1) 2.083333395421505%,rgba(48.611498326063156, 44.41249944269657, 60.56249924004078, 0.5299999713897705) 48.4375%,rgba(73.34144532680511, 66.6320313513279, 92.43750303983688, 1) 100%) ;
	width:378.00079345703125px;
	height:124.5px;
	position:absolute;
	left:551px;
	top:1441px;
	border-radius:40px;
}
.e53_213 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(9.187792036682367, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:73px;
	position:absolute;
	left:802px;
	top:495px;
	border-radius:20px;
}
.e53_215 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:66px;
	position:absolute;
	left:813px;
	top:496px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_216 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:1110px;
	top:460px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_217 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:164px;
	height:71px;
	position:absolute;
	left:1208px;
	top:468px;
	border-radius:100px;
}
.e53_218 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:71px;
	position:absolute;
	left:1224px;
	top:472px;
	font-family:Jockey One;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e53_219 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:630px;
	height:312px;
	position:absolute;
	left:143px;
	top:580px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_220 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:62px;
	position:absolute;
	left:802px;
	top:653px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e53_221 { 
	color:rgba(0, 0, 0, 1);
	width:620px;
	height:284px;
	position:absolute;
	left:152px;
	top:591px;
	font-family:Jockey One;
	text-align:left;
	font-size:23.5px;
	letter-spacing:0;
}
.e53_397 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:35px;
	position:absolute;
	left:799px;
	top:857px;
	font-family:Jockey One;
	text-align:left;
	font-size:23.5px;
	letter-spacing:0;
}
.e53_398 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:32px;
	position:absolute;
	left:948px;
	top:857px;
	font-family:Jockey One;
	text-align:left;
	font-size:23.5px;
	letter-spacing:0;
}
.e53_222 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:40px;
	position:absolute;
	left:845px;
	top:664px;
	font-family:Jockey One;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e53_223 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:113px;
	height:52px;
	position:absolute;
	left:920px;
	top:805px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e53_224 { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:36px;
	position:absolute;
	left:929px;
	top:811px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_395 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:113px;
	height:52px;
	position:absolute;
	left:790px;
	top:805px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e53_396 { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:36px;
	position:absolute;
	left:799px;
	top:811px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_225 { 
	width:181px;
	height:65px;
	position:absolute;
	left:825px;
	top:585px;
	background-image:url(images/image_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_229 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(9.187792036682367, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:73px;
	position:absolute;
	left:805px;
	top:914px;
	border-radius:20px;
}
.e53_230 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:621px;
	height:302px;
	position:absolute;
	left:152px;
	top:999px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e53_231 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:805px;
	top:1076px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e53_232 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:66px;
	position:absolute;
	left:816px;
	top:915px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_233 { 
	color:rgba(0, 0, 0, 1);
	width:586px;
	height:291px;
	position:absolute;
	left:173px;
	top:1010px;
	font-family:Jockey One;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e53_234 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:839px;
	top:1088px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_235 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.87500202655792, 4.214583272114396, 19.134207665920258, 1);
	width:214px;
	height:68px;
	position:absolute;
	left:812px;
	top:1233px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e53_236 { 
	width:102px;
	height:63px;
	position:absolute;
	left:864px;
	top:737px;
	background-image:url(images/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_237 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:35px;
	position:absolute;
	left:846px;
	top:1248px;
	font-family:Jockey One;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e53_238 { 
	width:181px;
	height:65px;
	position:absolute;
	left:828px;
	top:1008px;
	background-image:url(images/image_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_239 { 
	width:102px;
	height:63px;
	position:absolute;
	left:867px;
	top:1167px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_390 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:143px;
	top:481px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_391 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:243px;
	top:486px;
	border-radius:100px;
}
.e53_392 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:256px;
	top:494px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e53_416 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:83px;
	position:absolute;
	left:143px;
	top:904px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_417 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(188.22323441505432, 4.214583272114396, 252.87500202655792, 1);
	width:167px;
	height:73px;
	position:absolute;
	left:243px;
	top:909px;
	border-radius:100px;
}
.e53_418 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:50px;
	position:absolute;
	left:256px;
	top:917px;
	font-family:Jockey One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e81_68 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:42px;
	position:absolute;
	left:1007px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_68:hover{
	color: aqua;
}
.e81_69 { 
	color:rgba(255, 255, 255, 1);
	width:152px;
	height:57px;
	position:absolute;
	left:623px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_69:hover{
	color: aqua;
}
.e81_70 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:42px;
	position:absolute;
	left:1229px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_70:hover{
	color: aqua;
}
.e81_71 { 
	color:rgba(255, 255, 255, 1);
	width:194px;
	height:31px;
	position:absolute;
	left:781px;
	top:176px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	text-decoration: none;
}
.e81_71:hover{
	color: aqua;
}
.contactButton {
	position:absolute;
	left:1170px;
	top:1250px;
	background: #7079f0;
	color: white;
	font-family: inherit;
	padding: 0.45em;
	padding-left: 1.0em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #714da6;
	overflow: hidden;
	height: 2.8em;
	padding-right: 3em;
	text-decoration: none;
  }
  
  .iconButton {
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
	right: 0.3em;
	transition: all 0.3s;
  }
  
  .contactButton:hover {
	transform: translate(-0.05em, -0.05em);
	box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .contactButton:active {
	transform: translate(0.05em, 0.05em);
	box-shadow: 0.05em 0.05em #5566c2;
  }
